.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.footer-container {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  height: 90vh;
  position: fixed;
}
.container_footer {
  /* Rectangle 222 */
  display: flex;
  position: relative;
  left: 53%;

  /* 
  
  top: 0%;
  bottom: 0%; */
  width: 943px;
  height: 59px;
  border-radius: 50px 0px 0px 0px;

  /* Negro impuro */
  background: #2a303a;
}

.text_footer {
  color: #ffffff;
  margin-left: 6%;
  margin-top: 0.3rem;
}
.icons_footer {
  position: absolute;
  left: 83%;
  right: 0%;
  top: 0%;
  bottom: 0%;

}
.icon-footer{
  margin-top: 1rem;
  margin-left: 1rem;

}

