header{
    width: 100%;
    height: 80px;
    background: #F5F7F9;
    display: flex;
    flex-direction: row;
}

.logoContainer{
    margin-right: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 200px;
}

.navigation{
    border-bottom: 1px solid #ACB3B3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search{
    width: 325px;
    height: 35px;
    padding: 5px 20px;
    border-radius: 6px;
    border: none;
}

.btnSearch{
    width: 35px;
    height: 35px;
    margin: 0 150px 0 -35px;
    border: none;
    border-radius: 6px;
    background: #00BCA0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 100%;
}

.btnCircle{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    border: none;
    border-radius: 50%;
    background: #00BCA0;
    color: white;
}

.imgCircle{
    width: 40px;
    height: 40px;
    margin: 0 10px 0 30px;
    background-color: #C4C4C4;
    border: none;
    border-radius: 50%;
}

.profile{
    width: 150px;
    height: 30px;
}

h3{
    font-family: 'Mada', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #2A303A;
    margin: 0;
}

h4{
    font-family: 'Mada', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #90A0B7;
    margin: 0;
}


.btnTransparent{
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    background: none;
}